﻿.property-container {
    position: relative;
    .header {
        width: 100%;
        height: 6rem;
        border-bottom: 5px solid black;

        &.blue {
            background-color: #3368af;
        }

        &.red {
            background-color: #cf382a;
        }
    }

    .name {
        margin: 3rem 1rem;
        text-align: center;
        font-size: 150%;
    }
    .price {
        position: absolute;
        bottom: -15rem;
        margin: 0 25%;
        text-align: center;
        font-size: 130%;
    }
}
