﻿<div class="property-container">
    <div class="header" [ngClass]="boardTile.group.toLowerCase()">{{boardTile.group}}</div>
    <p class="name">{{boardTile.name}}</p>
    <p class="price">{{boardTile.price | currency: AU: 'symbol'}}</p>
</div>