﻿<h1>Game Board</h1>

<p>Basic game board component responsible for loading a game session and laying out tiles</p>

<p *ngIf="!gameSession"><em>Loading...</em></p>

<div class='game-board' *ngIf="gameSession">
    <div *ngFor="let tile of gameSession.boardTiles">
        <app-tile [boardTile]="tile"></app-tile>
    </div>
</div>
