﻿<div class="tile-container"  [ngClass]="getSizeClass(boardTile.type)">
    <div *ngIf="boardTile.type === 'Go'">
        <app-go-tile [boardTile]="boardTile" ></app-go-tile>
    </div>
    <div *ngIf="boardTile.type === 'Property'">
        <app-property-tile [boardTile]="boardTile" ></app-property-tile>
    </div>
    <div *ngIf="boardTile.type === 'Chance'">
        <app-chance-tile [boardTile]="boardTile" ></app-chance-tile>
    </div>
</div>