﻿
$rotation: -45deg;
$translation: translate(-40%, 40%);
.go-container {
    position: relative;
    div {
        -ms-transform: $translation rotate($rotation); /* IE 9 */
        -webkit-transform: $translation rotate($rotation); /* Chrome, Safari, Opera */
        transform: $translation rotate($rotation);
        position: absolute;
        top: 50%;
        left: 50%;
        width: 21rem;
        text-align: center;
        h1 {
            font-size: 500%;
            color: #000;
            font-weight: bold;
        }
    }
}
