﻿@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?63mi6q');
  src:  url('fonts/icomoon.eot?63mi6q#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?63mi6q') format('truetype'),
    url('fonts/icomoon.woff?63mi6q') format('woff'),
    url('fonts/icomoon.svg?63mi6q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-help:before {
  content: "\e900";
}
.icon-home3:before {
  content: "\e902";
}
.icon-office:before {
  content: "\e903";
}
.icon-dice:before {
  content: "\e915";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-users:before {
  content: "\e972";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-search:before {
  content: "\e986";
}
.icon-cog:before {
  content: "\e994";
}
.icon-truck:before {
  content: "\e9b0";
}
.icon-hipster2:before {
  content: "\e9fa";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-flickr:before {
  content: "\eaa3";
}
.icon-android:before {
  content: "\eac0";
}
